:root {
  --color: pink;
}

svg {
  display: block;
  margin: 0 auto; 
  --color: pink;
  /* -webkit-animation: animationFillLoader 1.7s infinite ease; */
  animation: animationFillLoader 1.7s infinite ease;
}

#Letter1 > path:nth-child(1) {
  fill: transparent;
}

#Letter1 > path:nth-child(2) {
  fill: var(--color);
  animation: animationFillLoaderLetter1 1.7s infinite ease;
}

#Letter1 > path:nth-child(3) {
  fill: transparent;
}

#Letter2 > path:nth-child(1) {
  fill: transparent;
  stroke: var(--color);
  stroke-width: 2px;
  animation: animationStrokeLoaderLetter2 1.7s infinite ease;
}

#Letter2 > path:nth-child(2) {
  fill: var(--color);
  stroke: var(--color);
  stroke-width: 2px;
  animation: animationFillLoaderLetter2 1.7s infinite ease, animationStrokeLoaderLetter2 1.7s infinite ease;
}

#Letter2 > path:nth-child(3) {
  fill: transparent;
  stroke: var(--color);
  stroke-width: 2px; 
  animation: animationStrokeLoaderLetter2 1.7s infinite ease;
}

#Letter2 > path:nth-child(4) {
  fill: transparent;
}

#Letter3 > path:nth-child(1) {
  fill: transparent;
  stroke: var(--color);
  stroke-width: 2px;
  animation: animationStrokeLoaderLetter3 1.7s infinite ease;
}

#Letter3 > path:nth-child(2) {
  fill: var(--color);
  stroke: var(--color);
  stroke-width: 2px;
  animation: animationFillLoaderLetter3 1.7s infinite ease, animationStrokeLoaderLetter3 1.7s infinite ease;
}

#Letter3 > path:nth-child(3) {
  fill: transparent;
  stroke: var(--color);
  stroke-width: 2px; 
  animation: animationStrokeLoaderLetter3 1.7s infinite ease;
}

#Letter3 > path:nth-child(4) {
  fill: transparent;
}

#Letter4 > path:nth-child(1) {
  fill: transparent;
  stroke: var(--color);
  stroke-width: 2px;
  animation: animationStrokeLoaderLetter4 1.7s infinite ease;
}

#Letter4 > path:nth-child(2) {
  fill: var(--color);
  stroke: var(--color);
  stroke-width: 2px;
  animation: animationFillLoaderLetter4 1.7s infinite ease, animationStrokeLoaderLetter4 1.7s infinite ease;
}

#Letter4 > path:nth-child(3) {
  fill: transparent;
  stroke: var(--color);
  stroke-width: 2px; 
  animation: animationStrokeLoaderLetter4 1.7s infinite ease;
}

#Letter4 > path:nth-child(4) {
  fill: transparent;
}

#Letter5 > path:nth-child(1) {
  fill: transparent;
  stroke: var(--color);
  stroke-width: 2px;
  animation: animationStrokeLoaderLetter5 1.7s infinite ease;
}

#Letter5 > path:nth-child(2) {
  fill: var(--color);
  stroke: var(--color);
  stroke-width: 2px;
  animation: animationFillLoaderLetter5 1.7s infinite ease, animationStrokeLoaderLetter5 1.7s infinite ease;
}

#Letter5 > path:nth-child(3) {
  fill: transparent;
  stroke: var(--color);
  stroke-width: 2px; 
  animation: animationStrokeLoaderLetter5 1.7s infinite ease;
}

#Letter5 > path:nth-child(4) {
  fill: transparent;
}

#Letter6 > path:nth-child(1) {
  fill: transparent;
  stroke: var(--color);
  stroke-width: 2px;
  animation: animationStrokeLoaderLetter6 1.7s infinite ease;
}

#Letter6 > path:nth-child(2) {
  fill: var(--color);
  stroke: var(--color);
  stroke-width: 2px;
  animation: animationFillLoaderLetter6 1.7s infinite ease, animationStrokeLoaderLetter6 1.7s infinite ease;
}

#Letter6 > path:nth-child(3) {
  fill: transparent;
  stroke: var(--color);
  stroke-width: 2px; 
  animation: animationStrokeLoaderLetter6 1.7s infinite ease;
}

#Letter7 {
  fill: var(--color);
  stroke: var(--color);
  stroke-width: 2px;
  animation: animationFillLoaderLetter7 1.7s infinite ease, animationStrokeLoaderLetter7 1.7s infinite ease;
}

#Letter8 {
  fill: var(--color);
  stroke: var(--color);
  stroke-width: 2px;
  animation: animationFillLoaderLetter8 1.7s infinite ease, animationStrokeLoaderLetter8 1.7s infinite ease;
}
/* ['#324376', '#1B998B', '#F7B267', '#F79D65', '#FF686B'] */

@keyframes animationFillLoaderLetter1 {
  0% { fill: #324376; }
  20% { fill: #1B998B; }
  40% { fill: #F7B267; }
  60% { fill: #F79D65; }
  80% { fill: #FF686B; }
}

@keyframes animationStrokeLoaderLetter1 {
  0% { stroke: #324376; }
  20% { stroke: #1B998B; }
  40% { stroke: #F7B267; }
  60% { stroke: #F79D65; }
  80% { stroke: #FF686B; }
}

@keyframes animationFillLoaderLetter2 {
  0% { fill: #FF686B; }
  20% { fill: #324376; }
  40% { fill: #1B998B; }
  60% { fill: #F7B267; }
  80% { fill: #F79D65; }
}

@keyframes animationStrokeLoaderLetter2 {
  0% { stroke: #FF686B; }
  20% { stroke: #324376; }
  40% { stroke: #1B998B; }
  60% { stroke: #F7B267; }
  80% { stroke: #F79D65; }
}

@keyframes animationFillLoaderLetter3 {
  0% { fill: #F79D65; }
  20% { fill: #FF686B; }
  40% { fill: #324376; }
  60% { fill: #1B998B; }
  80% { fill: #F7B267; }
}

@keyframes animationStrokeLoaderLetter3 {
  0% { stroke: #F79D65; }
  20% { stroke: #FF686B; }
  40% { stroke: #324376; }
  60% { stroke: #1B998B; }
  80% { stroke: #F7B267; }
}

@keyframes animationFillLoaderLetter4 {
  0% { fill: #F7B267; }
  20% { fill: #F79D65; }
  40% { fill: #FF686B; }
  60% { fill: #324376; }
  80% { fill: #1B998B; }
}

@keyframes animationStrokeLoaderLetter4 {
  0% { stroke: #F7B267; }
  20% { stroke: #F79D65; }
  40% { stroke: #FF686B; }
  60% { stroke: #324376; }
  80% { stroke: #1B998B; }
}

@keyframes animationFillLoaderLetter5 {
  0% { fill: #F79D65; }
  20% { fill: #324376; }
  40% { fill: #F7B267; }
  60% { fill: #1B998B; }
  80% { fill: #FF686B; }
}

@keyframes animationStrokeLoaderLetter5 {
  0% { stroke: #F79D65; }
  20% { stroke: #324376; }
  40% { stroke: #F7B267; }
  60% { stroke: #1B998B; }
  80% { stroke: #FF686B; }
}

@keyframes animationFillLoaderLetter6 {
  0% { fill: #FF686B; }
  20% { fill: #F79D65; }
  40% { fill: #324376; }
  60% { fill: #1B998B; }
  80% { fill: #F7B267; }
}

@keyframes animationStrokeLoaderLetter6 {
  0% { stroke: #FF686B; }
  20% { stroke: #F79D65; }
  40% { stroke: #324376; }
  60% { stroke: #1B998B; }
  80% { stroke: #F7B267; }
}

@keyframes animationFillLoaderLetter7 {
  0% { fill: #324376; }
  20% { fill: #FF686B; }
  40% { fill: #F7B267; }
  60% { fill: #F79D65; }
  80% { fill: #1B998B; }
}

@keyframes animationStrokeLoaderLetter7 {
  0% { stroke: #324376; }
  20% { stroke: #FF686B; }
  40% { stroke: #F7B267; }
  60% { stroke: #F79D65; }
  80% { stroke: #1B998B; }
}

@keyframes animationFillLoaderLetter8 {
  0% { fill: #1B998B; }
  20% { fill: #324376; }
  40% { fill: #F79D65; }
  60% { fill: #FF686B; }
  80% { fill: #F7B267; }
}

@keyframes animationStrokeLoaderLetter8 {
  0% { stroke: #1B998B; }
  20% { stroke: #324376; }
  40% { stroke: #F79D65; }
  60% { stroke: #FF686B; }
  80% { stroke: #F7B267; }
}





















/* .Spinner {
    color: #fff289;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 40%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    80% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    80% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    80% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    80% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
   */