.MainAdmin {
  width: 100%;
  background-color: #DCE1E9;
  padding-bottom: 64px;
}

.WrapperAdmin {
  width: 80%;
  margin: 0 auto;
}

.WrapperAdmin > h1 {
  padding-top: 0.67em;
  margin-block-start: 0;
  color: #01161E;
}

.WrapperAdmin > div {
  margin-bottom: 64px;

}

.WrapperAdmin > .Actions {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}

.WrapperAdmin > .Actions > div {
  display: flex;
}

