table {
  width: 100%;
  margin-top: 32px;
  table-layout: fixed;
}

thead > tr {
  display: flex;
}

tbody > tr {
  display: flex;
}

thead > tr > th, tbody > tr > td {
  appearance: none;
  height: auto;
  margin: 0;
  padding: 8px 16px;
  border-radius: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 25px;
  background-color: transparent;
  font-size: 18px;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
  color: #000000;
  background-color: transparent;
  margin-bottom: 8px;
}

thead > tr > th:last-of-type, tbody > tr > td:last-of-type {
  border-right: 2px solid #000000;
}

tbody > tr > td:last-of-type {
  display: block;
}

tbody > tr > td:last-of-type > svg  {
  cursor: pointer;
  margin-right: 16px;
}

tbody > tr > td:last-of-type > svg:hover {
  cursor: pointer;
  color: #F1A487;
}

thead > tr > th:nth-child(1), tbody > tr > td:nth-child(1) {
  flex: 0 0 25%;
}

thead > tr > th:nth-child(2), tbody > tr > td:nth-child(2) {
  flex: 0 0 15%;
}

thead > tr > th:nth-child(3), tbody > tr > td:nth-child(3) {
  flex: 0 0 30%;
}

thead > tr > th:nth-child(4), tbody > tr > td:nth-child(4) {
  flex: 0 0 15%;
}

thead > tr > th:nth-child(5), tbody > tr > td:nth-child(5) {
  flex: 0 0 15%;
}

tbody > tr > td:nth-child(5) > a {
  color: #000000;
  text-decoration: none; 
  display: inline-block;
  margin-right: 16px;
}

tbody > tr > td:nth-child(5) > a:hover {
  color: #F1A487;
}