.MainRestaurant {
  /* padding-top: 88px; */
  padding-bottom: 64px;
  /* background: linear-gradient(to bottom, #D8E4FF 0, #D8E4FF 45%, #B8BAC8 45%, #D8E4FF 100%); */
  background: linear-gradient(to bottom, #EFEAE6 0, #EFEAE6 45%, #D8DDE1 45%, #D8DDE1 100%);
  /* background-color: #D8E4FF;   */
}

.Wrapper {
  width: 90%;
  margin: 0 auto;
}

.Arborescence {
  padding-top: 32px;
  color: #57806C;
  opacity: 0.8;
  font-size: 14px; 
  margin-bottom: 32px;
  cursor: pointer;
}

.Arborescence:hover {
  opacity: 1;
}

.Arborescence > span {
  text-transform: capitalize;
}

.Wrapper > h2 {
  font-size: 45px;
  color: #57806C;
  font-weight: 600;
  margin-block-start: 8px;
  margin-block-end: 32px;
}

.Wrapper > .Informations > span > a {
  text-decoration: none;
  color: #57806C;
}

.Wrapper > .Informations > span > a:hover {
  color: #F1A487; 
}

.Wrapper > .Informations > span {
  color: #57806C;
  display: block;
  margin-bottom: 16px;
}

p {
  color: #57806C;
  margin-bottom: 32px;
}

.Wrapper > p > a {
  text-decoration: none; 
  color: #57806C;
}

.Wrapper > p > a:hover {
  color: #F1A487; 
}

.Wrapper > div:nth-child(2) > span {
  font-size: 20px;
}
.Description1 {
  margin-bottom: 16px;
}

.Description1 > .Text {
  flex: 1 1 70%;
  padding: 16px 16px 8px 16px;
  color: white;
  background-color: #F1A487;
  margin-bottom: 16px;
}

.Description1 > .Text > span {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
  display: block;
}

.Description1 > .Text > p {
  color: white;
  font-size: 17px;
  line-height: 1.8em;
  margin-bottom: 0;
}

/* .Description1 > .Image, .Description2 > .Image {
  margin-left: 8px;
  height: 30%;
  flex: 0 0 30%;
  padding: 32px;
  background-color:white;
}

.Description2 > .Image {
  margin-right: 8px;
}

.Description1 > .Image > img, .Description2 > .Image > img {
  width: 100%;
  height: 100%;
} */

.ContainerImage {
  position: relative;
  width: 100%;
}

.ContainerImage:after {
  content: "";
  display: block;
  padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}

.ContainerImage img {
  position: absolute; /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  padding: 32px;
  background-color: white;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
}

.Description2 > .ContainerImage {
  /* margin-bottom: 16px; */
}

.Description2 > .Description2Box {
  margin-bottom: 16px;
}

.Description2 > .Description2Box > .Menu {
  background-color: #F5F2EE;
  padding: 16px;
  margin-bottom: 16px;
}

.Description2 > .Description2Box > .Menu > h3 {
  color: #57806C;
  font-weight: 600;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-size: 19px;  
  text-transform: capitalize; 
}

.Description2 > .Description2Box > .Menu > .Plate {
  margin-bottom: 16px;
}

.Description2 > .Description2Box > .Menu > .Plate > .Main > span:nth-child(1), .Description2 > .Description2Box > .Menu > .Plate > .Main > span:nth-child(2) {
  color: #F1A487;
  font-weight: 600;
}
.Description2 > .Description2Box > .Menu > .Plate > .Main {
  flex-wrap: wrap;
  display: flex; 
  align-items: top;
  justify-content: space-between;
  margin-bottom: 8px;
}

.Description2 > .Description2Box > .Menu > .Plate > .Description {
  color: #484848;
  line-height: 1.5em;
  font-size: 15px;
}

.Description2 > #Map {
  height: 30%;
  flex: 0 0 30%;
  padding: 32px;
  background-color: white;
}

.Description2 > #Map:hover {
  background-color: #F1A487;
}

/* temporaire */

.Description2 > #Map > img {
  width: 100%;
  height: 100%;  
}

@media screen and (min-width: 1100px) {

  .Wrapper > .Informations {
    display: flex;
    flex-wrap: wrap;
  }

  .Wrapper > .Informations > span {
    margin-right: 32px;
    margin-bottom: 16px;
  }

  .Description1 {
    margin-top: 16px;
    display: flex;
    align-items: top;
  }  

  .Description2 {
    display: flex;
  }  

  .ContainerImage {
    width: 350px;
    height: 350px;
  }  

  .Description2 > .Description2Box {
    flex: 0 1 70%;
    display: flex;
    padding-right: 8px;
    margin-bottom: 0;
  }
  .Description2 > .Description2Box > .Menu {
    margin-right: 8px;
    flex: 1 1 39%;
    height: 350px;
    overflow: scroll;
  }  

  .Description2 > .Description2Box > .ContainerImage {
    margin-left: 8px;
  }  

  .Description2 > #Map {
    margin-left: 8px;
    height: 350px;
    overflow: scroll;
  }  

  .Description1 > .Text {
    margin-right: 8px;
    margin-bottom: 0;
  }  

  .Description1 > .ContainerImage {
    margin-left: 8px;
  }

  .Description2 > .ContainerImage {
    margin-left: 8px;
  }
}

@media screen and (min-width: 1600px) {
  .Wrapper {
    width: 70%;
  }
}
