/* CARD */

a, a:hover {
  text-decoration: none;
}

.Card {
  width: 350px;
  padding: 32px;
  background-color: white;
  margin-bottom: 32px;
  cursor: pointer;
}

.Card:hover > h3 {
  color: #ED9298;
  overflow: hidden;
  text-overflow: ellipsis;    
}

.Card > img {
  width: 100%;
  height: width;
}

.Card > h3 {
  width: 286px;
  overflow: hidden;
  text-overflow: ellipsis;  
  white-space: nowrap;      
  font-size: 25px;
  color: #57806C;
  font-weight: 600;
  margin-block-end: 0.5em;
  margin-block-start: 16px;   
}

.Card > h4 {
  color: #484848;
  font-size: 16px;
  margin-block-start: 0;
  margin-block-end: 1.33em;  
}

.Card > p {
  color: #353535;
  font-size: 16px;
  margin-block-start: 1em;
  margin-block-end: 0;
}

@media screen and (min-width: 1024px) {
  .Card {
    width: 400px;
  }

  .Card > h3 {
    width: 336px;
  }

  .Card:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }  
}