.Button {
    border-radius: 1px;
    display: block;
    text-decoration: none; 
    height: auto;
    border: 2px solid white;
    margin: 0 0 0 8px;
    padding: 16px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: max-content;
    line-height: 20px;
    color: white;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

.Button:first-of-type {
    margin-left: 0;
}

.Button:hover {
    background-color: white;
    color: #222E50; 
}

.ButtonInfo {
    border: 2px solid #01161E;
    color: #01161E;
    background-color: transparent;
}

.ButtonInfo:hover {
    border: 2px solid #01161E;
    color: white;
    background-color: #01161E;
}

.ButtonInfo:focus {
    outline: none; 
    border: 2px solid #01161E;
    color: white;
    background-color: #01161E;    
}