/* NAVBAR */

header {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header > .Nav {
  display: flex;
  align-items: center;
}

header > .Nav > a {
  display: none;
  font-size: 18px;
  text-decoration: none; 
  color: #57806C;
  padding-right: 16px;
}

header > .Nav > a:last-child {
  padding-right: 64px;
}

header > .Nav > a > i {
  font-size: 30px;
  text-decoration: none; 
  color: #57806C;
}

header > .Nav > a:hover {
  color: #F1A487;
}

header > .Nav > a > svg:hover {
  color: #F1A487;
}

header > a > img {
  width: 200px;
}

header > .Nav > div {
  padding: 16px;
}

svg[data-icon="instagram"], svg[data-icon="envelope"] {
  font-size: 30px;
  text-decoration: none; 
  color: #57806C;
}

@media screen and (min-width: 600px) {
  header {
    justify-content: space-between;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1024px) {
  header {
    justify-content: space-between;
    padding-left: 32px;
  }
  header > .Nav > a {
    display: block;
  }
}