.Label {
  display: block;
  font-size: 18px; 
  color: #000000;
  font-weight: 600;
  margin-bottom: 16px;
  padding-top: 8px;
}

input[type="text"], input[type="email"], input[type="password"] {
  appearance: none;
  height: auto;
  margin: 0;
  padding: 11px 20px;
  border-radius: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 25px;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid #000000;
  color: #000000;
  background-color: transparent;
  margin-bottom: 32px;
}

textarea {
  appearance: none;
  min-height: 200px;
  margin: 0;
  padding: 11px 20px;
  border-radius: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 25px;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid #000000;
  color: #000000;
  background-color: transparent;
  margin-bottom: 32px;  
}

/* INPUT SELECT */

.SelectPerso {
  position: relative;
  background-color: transparent;
  border: none;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  border-radius: 2px;
  font-size: 20px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 110%;
  height: auto;
  margin: 0;
  border: 2px solid #000000;
  padding: 11px 20px;
  border-radius: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color: #000000;
  line-height: 25px;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

select:focus {
  outline: none;
} 

select:hover {
  background-color: #000000;
  color: white;
}

.ContainerImage {
  position: relative;
  width: 100%;
}

.ContainerImage:after {
  content: "";
  display: block;
  padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}

.ContainerImage img {
  position: absolute; /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  padding: 32px;
  background-color: white;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
}

.uploadBtn {
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid transparent;
  width: max-content;

}

.uploadBtn:hover {
  border: 1px solid #01161E;
}

/* COLORS */

.WhiteGreenHov {
  color: white;
  border: 2px solid white;
}

.WhiteGreenHov:hover {
  color: #57806C;
  background-color: white;
}

.GreenWhiteHov {
  color: #57806C;
  border: 2px solid #57806C;
}

.GreenWhiteHov:hover {
  color: white;
  background-color: #57806C;
}

.WhiteBlueHov {
  color: white;
  border: 2px solid white;
}

.WhiteBlueHov:hover {
  color: #222E50;
  background-color: white;
}