/* FOOTER */

a, a:hover {
  text-decoration: none; 
  display: block;
}

footer {
  padding: 32px 32px;
  /* background-color: #F1F1F1; */
  background-color: #FFE0B5;
  margin-bottom: 88px;
}

footer > div {
  flex: 0 0 22%;
}

footer > div > a {
  font-size: 30px;
  text-decoration: none; 
}

footer > div > a:nth-child(1) {
  font-size: 16px;
  color: #57806C;
  text-decoration: none;
  display: block;
  margin-bottom: 16px;
}

footer > div > a:nth-child(1):hover {
  color: #FFF;
}

footer > div > a:nth-child(2), footer > div > a:nth-child(3) {
  display: inline-block;
  color: #57806C;
}

footer svg[data-icon="instagram"], footer svg[data-icon="envelope"] {
  font-size: 30px;
  text-decoration: none; 
  color: #57806C;
}

footer > div > a > svg:hover {
  color: #FFF;
}

footer > div > a > svg {
  margin: 0;
}  

footer > div > a:nth-child(1) > svg {
  margin-bottom: 32px;
} 

footer > div:nth-child(1) > a:nth-child(1), footer > div:nth-child(1) > a:nth-child(2) {
  margin-right: 16px;
} 

footer > .Links {
  flex: 0 0 19%;
  margin-bottom: 32px;
}

/* footer > .Links > a:nth-child(1) {
  font-size: 16px;
  color: #57806C;
  text-decoration: none;
  display: block;
  margin-bottom: 16px;
}

footer > .Links > a:nth-child(1):hover {
  color: #FFF;
} */

footer > .Links > a:nth-child(1) {
  display: block;
  width: 180px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: white;
  border: 2px solid #F9C784;
  border-radius: 8px;
  padding: 16px;
  text-decoration: none;
}

footer > .Links > a:nth-child(1):hover {
  border: 2px solid #D82424;
}

footer > .Links > a:nth-child(1) > div {
  border-radius: 50%;
  background-color: #D82424;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 8px;
}

footer > .Links > a:nth-child(1) > span {
  font-size: 16px;
  color: black;
  text-align: center;
  display: block;
}

footer > .Districts {
  flex: 0 0 58%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

footer > .Districts > a {
  flex: 0 0 45%;
  text-decoration: none;
  color: #57806C;
  padding: 0 16px 16px 16px;
  display: block;
  font-size: 16px;
}

footer > .Districts > a:hover {
  color: #FFF;
}

@media screen and (min-width: 1024px) {

  footer {
    display: flex !important;
  }

  footer > a > svg {
    margin: 0 auto;
  }  

  footer > .Links {
    margin-bottom: 0;
  }

  footer > .Districts > a {
    flex: 0 0 30%;
    padding: 0 16px;
  }
}