.MainAboutUs {
  /* background: linear-gradient(to top, #ED9298 0, #ed9298 33%, #BBE2D0 33%, #BBE2D0 60%, #F1A487 60%, #F1A487 100%); */
  /* background-color: #F5F1E7; */
  background-color: #ECC8AF; /*#57806C;*/
  /* padding-top: 120px; */
  padding-top: 32px;
  min-height: 100vh;
}

.MainAboutUs > h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #57806C;
  margin-block-start: 32px;
  margin-block-end: 64px; 
}