/* MAIN */

.MainRestaurants {
  /* background: linear-gradient(to top, #ED9298 0, #ed9298 33%, #BBE2D0 33%, #BBE2D0 60%, #F1A487 60%, #F1A487 100%); */
  /* background-color: #F5F1E7; */
  /*#ECC8AF /*#57806C;*/
  /* background-color: #D8E4FF; */
  /* background-color: #FFD7CF; */
  /* background-color: #D4BFAB; */
  background-color: #E2CDCC;
  /* padding-top: 120px; */
  padding-top: 32px;
  min-height: 100vh;
}

.Cards {
  width: 90%;
  margin: 0 auto;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 32px;
  align-items: flex-start;
}

.MainRestaurants > h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #57806C;
  margin-block-start: 32px;
  margin-block-end: 64px; 
}

.MainRestaurants > h2 > sup {
  font-weight: 600;
}

.LoaderContainer {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}

@media screen and (min-width: 1550px) {
  .Cards {
    width: 85%;
  }
}


