  .CtaWrapperError {
    background-color: #222E50;
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly;
    padding: 32px 0;
  }
  
  .CtaWrapperError > img {
    width: 400px;
    padding: 32px 32px 16px 32px;
    margin: 0 auto;
    display: block;  
  }

  .CtaWrapperError > p {
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
    font-weight: 600; 
    text-transform: uppercase;
    font-size: 18px;
    padding: 0 32px 32px 32px;
    text-align: center;
    line-height: 1.5em;
  }

  .CtaWrapperError > div {
    width: auto;
    margin: 0 auto 32px auto;
  }

  .CtaWrapperError > div > a {
    /* border-radius: 1px;
    display: block; */
    text-decoration: none; 
    /* height: auto;
    border: 2px solid white;
    margin: 0;
    padding: 16px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    line-height: 20px;
    color: white;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer; */
  }

  /* .CtaWrapperError > div > a:hover {
    background-color: white;
    color: #222E50;
  } */
  
  @media screen and (min-width: 1024px) {
    .CtaWrapperError {
      flex: 0 0 68%;
      padding: 0;
    }
  }