.CtaWrapperHome {
  width: 100%;
  background-color: #57806C;
  display: flex; 
  flex-direction: column; 
  justify-content: space-evenly;
  padding: 32px 0;
}

.CtaWrapperHome > p {
  margin-block-start: 0;
  margin-block-end: 0;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  font-size: 18px;
  padding: 8px 32px 32px 32px;
  text-align: center;
  line-height: 1.5em;
}

.CtaWrapperHome > div {
  width: auto;
  margin: 0 auto;
  padding: 16px;
}

.SvgBox {
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .CtaWrapperHome {
    flex: 0 0 68%;
    padding: 0;
  }
}