@import url('https://use.typekit.net/one3pzn.css');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap');

* {
  box-sizing: border-box;
  font-family: parisine-std, sans-serif;
  font-style: normal;
  font-weight: 400; 
  letter-spacing: 0.3px;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}